<div class="form_container" @componentAnimation>
    <form action="" [formGroup]="formService.formData()">
        <div class="logoAndHeading">
            <img src="logo.ico" alt="Logo image">
            <h1 id="headingText">{{formService.formType() == 'signup' ? 'Create Account' : 'Login'}}</h1>
        </div>

        <!-- Input Fields -->
        <div class="input_container" *ngIf="formService.formType() == 'signup'">
            <input type="text" formControlName="name" aria-label="Name Input Field" (focus)="onFocus($event)"
                (blur)="onBlur($event)">
            <label htmlFor="name" class="defaultOrUnfilledLabel">Name</label>
            <div @icon class="status_icon not_password" *ngIf="formService.formData()?.get('name')?.valid">
                <div><mat-icon>check_small</mat-icon></div>
            </div>
        </div>

        <div>
            <div class="input_container">
                <input type="email" formControlName="email" aria-label="Email Input Field" (focus)="onFocus($event)"
                    (blur)="onBlur($event)">
                <label htmlFor="email" class="defaultOrUnfilledLabel">Email</label>
                <div @icon class="status_icon not_password" *ngIf="formService.formData().get('email')?.valid">
                    <div><mat-icon>check_small</mat-icon></div>
                </div>
            </div>
            <small class="email-message">We don't share your email with anyone else.</small>
        </div>


        <div class="input_container">
            <input #pass type="password" formControlName="password" aria-label="Password Input Field"
                (focus)="onFocus($event)" (blur)="onBlur($event)">
            <label htmlFor="password" class="defaultOrUnfilledLabel">Password</label>
            <div @icon class="status_icon" *ngIf="formService.formData().get('password')?.valid">
                <div><mat-icon>check_small</mat-icon></div>
            </div>
            <button @icon type="button" class="visibility" *ngIf="formService.formData().value.password?.length !== 0"
                (click)="isShownPassword(pass)"><mat-icon>{{pass.type == "password" ? "visibility" :
                    "visibility_off"}}</mat-icon></button>
        </div>

        <div class="input_container" *ngIf="formService.formType() == 'signup'">
            <input #cpass type="password" formControlName="confirm_password" aria-label="Confirm Password Input Field"
                (focus)="onFocus($event)" (blur)="onBlur($event)">
            <label htmlFor="confirm_password" class="defaultOrUnfilledLabel">Confirm Password</label>
            <div @icon class="status_icon" *ngIf="formService.formData().get('confirm_password')?.valid">
                <div><mat-icon>check_small</mat-icon></div>
            </div>
            <button @icon type="button" class="visibility" *ngIf="formService.formData().get('confirm_password')?.value.length !== 0"
                (click)="isShownPassword(cpass)"><mat-icon>{{cpass.type == "password" ? "visibility" :
                    "visibility_off"}}</mat-icon></button>
        </div>
        <!-- Signup Button -->
        <div class="signup_btn_container">
            <button type="button" [ngClass]="!formService.formData().valid ? 'button_disabled' : 'button_allowed'" aria-label="Submit Button"
                [disabled]="!formService.formData().valid" (click)="onFormSubmit()">Submit</button>
        </div>
    </form>
</div>
