<div class="p-2">
    <p>Welcome to about page</p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum consequuntur velit architecto nostrum culpa a
        debitis
        fugit aut incidunt vitae rem molestiae, maxime recusandae, iure repudiandae maiores. Tempora neque ipsum maxime
        illum est tenetur obcaecati? Eum excepturi quidem fugit dolore aliquam? Neque nemo eos nihil, atque odit iusto
        architecto quaerat impedit totam laboriosam sunt laudantium asperiores sequi nobis temporibus repudiandae error,
        quam minus. Eveniet cupiditate saepe praesentium laudantium voluptate. Dolore porro deleniti dicta nemo soluta,
        debitis aut eligendi. Quo, eligendi explicabo, eaque magnam facere voluptates itaque voluptate qui dolores
        aperiam
        provident obcaecati optio repudiandae id quidem et sed asperiores veritatis!
    </p>

    <button mat-raised-button>
        <mat-icon>favorite</mat-icon>
        About
    </button>
</div>